.da{
background-color: #C1A07D;
text-align: center;
}
.go{
    font-size: 20px;
    text-decoration: none;
    color: #22272B;
    font-weight: bold;
    text-shadow: 1px 1px 3px #E0DDDE;
}
.img{
    margin-top: 0.5%;
}