{% load static %}
<html lang="en" dir="ltr">
    <head>
        <title>Todo-pages</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include 'header.html' %}
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'todos/todos_grid.html' %}
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>